# written by pyinfra

[Match]
MACAddress=64:ee:b7:14:81:9e

[Network]
# in particular, don't take DNS addrs from this dhcp server
UseDNS=false
DHCP=no
Address=192.168.42.2/24
Gateway=192.168.42.1
DNS=10.2.0.1
Domains=bigasterisk.com