# written by pyinfra

[Unit]
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables -A POSTROUTING --table nat --out-interface eth0 --jump MASQUERADE
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
