# written by pyinfra

network:
  version: 2
{% if host.name == 'garage' %}
  ethernets:
    match:
      macaddress: b8:27:eb:81:17:92
      link-local: [ ipv4 ]
      addresses: ['10.2.0.14/32']
      routes:
      - to: 0.0.0.0/0
        via: 10.2.0.1
      nameservers:
        search: ['bigasterisk.com']
        addresses: 
        - 10.2.0.1
    wifi:
      link-local: []
{% endif %}


{% if host.name == 'dash' %}
  ethernets:
    match:
      macaddress: b8:97:5a:17:d7:1f
      link-local: [ ipv4 ]
      addresses: ['10.1.0.5/32']
      routes:
      - to: default
        via: 10.1.0.1
      nameservers:
        search: ['bigasterisk.com']
        addresses: 
        - 10.1.0.1
{% endif %}