
deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} main restricted
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} main restricted

deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates main restricted
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates main restricted

deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} universe
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} universe
deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates universe
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates universe

deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }} multiverse
deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-updates multiverse

deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-backports main restricted universe multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-backports main restricted universe multiverse

deb http://archive.canonical.com/ubuntu {{ rel }} partner
deb-src http://archive.canonical.com/ubuntu {{ rel }} partner

deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security main restricted
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security main restricted
deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security universe
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security universe
deb http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security multiverse
deb-src http://ports.ubuntu.com/ubuntu-ports/ {{ rel }}-security multiverse