deb http://archive.raspberrypi.org/debian/ {{rel}} main
deb http://raspbian.raspberrypi.org/raspbian/ {{rel}} main contrib non-free rpi
#deb http://security.debian.org/ {{rel}}/updates main contrib non-free rpi
