# written by pyinfra

# See resolved.conf(5) for details

[Resolve]
DNS=10.2.0.1
#FallbackDNS=
Domains=bigasterisk.com
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#DNSOverTLS=no
#Cache=yes
#DNSStubListener=yes
#ReadEtcHosts=yes
